/*
 * This stylesheet is applied after the theme's default one,
 * and thus any overrides or additions can be added here.
 *
 * More info:
 *     http://sphinx-doc.org/extdev/appapi.html?highlight=add_stylesheet#sphinx.application.Sphinx.add_stylesheet
 *     https://github.com/snide/sphinx_rtd_theme/issues/117#issuecomment-41571653
 */

/* kbd role */
.kbd.docutils.literal {
    color: #333;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    font-size: 1em;
}

/* Ensure background of input fields is light color even when a local theme wants it to be dark */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    background-color:#FCFCFC;
}

/*boxed paragraphs*/
.rst-content .refbox .admonition-title {
   background-color: #bbb;
}
.rst-content .refbox {
	-webkit-font-smoothing: antialiased;
	padding: 12px;
	line-height: 24px;
	margin-bottom: 24px;
	background-color: #e3e3e3;
}
.rst-content .seealso .admonition-title {
	background-color: #7a87e6;
}
.rst-content .seealso {
	background-color: #e7ebfa;
}

/* rb =, see ( > ), note ( i ), tip i , hint (+), warn / ! \ */
.refbox .admonition-title::before {content:"\f00b"}
.seealso .admonition-title::before{content:"\f138"}
.note .admonition-title::before{content:"\f05a"}
.tip .admonition-title::before{content:"\f129"; padding: 0 0.1em}
.hint .admonition-title::before{content:"\f055"}
.warning .admonition-title::before{content:"\f071"}

/* Ugly 'red' literals */
.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
    color:#404040;
}

/* Moves the table captions to the bottom */ 
table { caption-side: bottom; }

/* Fix giant captions */
.caption-text {
    font-size: 13px;
    font-family: Lato, proxima-nova, 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
    line-height: 20px;
    color:#808080;
}

/* Text wrap of figure captions in tables,
 * (without this images with captions in tables can cause a log of horizontal scrolling). */
.caption {
    line-height: 0px;
    white-space: normal;
}

/* proper seal navigation buttons; jumping on resize */
.rst-footer-buttons::before , .rst-footer-buttons::after{
    width: 100%;
}

/*.. container:: lead , block text float around image*/
.lead {
	clear: both; width: 100%;
}

/* draws a box around :menuselection: field */
.menuselection {
    border: solid #E1E4E5 1px;
    background-color: rgba(255, 255, 255, 0.65);
    white-space: nowrap;
    padding: 1px 6px;
}
@media screen and (max-width: 420px) { 
    .menuselection {white-space: normal;}
}
.caption .menuselection { 
	background-color: none;
	border: none;
} 
.caption .kbd, {background-color: none}

/*remove indent on line break*/
.rst-content .line-block {margin-left:0px}
